extends leaflet

block routeoptions
  if userroutes != null
  - var values = userroutes;
  - var counter = 0;
  if values != null
    ul.list-group
      each val in values
        center  
          li.list-group-item=  "     Starttime:  " + val.starttime + "     Endtime: " + val.endtime 
            br
            br
            - var z = JSON.stringify(values[counter].waypoints);
            button.btn.btn-block.btn-primary.btn-md.active(onclick='createRoute("mapdiv", ' + z + ')') show Route
            a.btn.btn-block.btn-danger.btn-md.active(type="submit", href="/routes/deleteroute/" + counter) delete Route
            - counter++
  else
    - var values = userroutes;
    div we are in trouble
